@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

/* .navbar-container {
    background-color: teal;
}

.menu-icon {
    background-color: #f8f8f8;
    height: 38px;
} */

#navItem1 {
    color: #323f4b;
}

#navItem2 {
    color: #323f4b;
}

#navItem3 {
    color: #323f4b;
}

#navItem4 {
    color: #323f4b;
}

.food-munch-logo {
    height: 50px;
    width: 60px;
}


.banner-section-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    background-size: cover;
    height: 100vh;
    /* background-position: center; */
}

.banner-heading {
    color: white;
    font-weight: 300;
    font-size: 45px;
    font-family: "Roboto";
}

@media screen and (max-width : 768px) {
    .banner-heading {
        font-size: 25px;
    }
}

.banner-caption {
    color: #f5f7fa;
    font-size: 24px;
    font-weight: 300;
    font-family: "Roboto";
}

.view-menu {
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0px;
    border-radius: 8px;
    color: white;
}

.custom-outline-button {
    width: 130px;
    height: 45px;
    border-width: 1px;
    border-style: solid;
    border-color: #d0b200;
    border-radius: 8px;
    background-color: transparent;
    color: #d0b200;
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    color: #183b56;
    font-size: 28px;
    font-family: "Roboto";
    font-weight: 700;
}

.wcu-description {
    color: #5a7184;
    font-size: 16px;
    font-family: "Roboto";
}

.wcu-card {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #e5eaf4;
}

.wcu-card-image {
    width: 87px;
    height: 90px;
}

.wcu-card-title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 22px;
    color: #323f4b;
}

.wcu-card-description {
    font-size: 16px;
    font-family: "Roboto";
    color: #7b8794;
}


.offers {
    color: #323f4b;
    font-weight: bold;
    font-style: italic;
}

.explore-menu-section {
    background-color: white;
}

.menu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.menu-item-image {
    border-radius: 16px;
}

.menu-card-title {
    color: #323f4b;
    font-size: 18px;
    margin-top: 24px;
    font-weight: 500;
}

.menu-item-link {
    color: #d0b200;
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card {
    border-radius: 16px;
}

.healthy-food-section {
    background-color: #f9fbfe;
}

.healthy-food-section-img {
    width: 270px;
}

.healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.delivery-and-payment-section {
    background-color: white;
}

.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}


.thanking-customers-section {
    background-color: #d0b2001a;
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
    text-align: center;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.icon {
    color: #d0b200;
    font-size: 35px;
}